<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="result"></p>
    <p>
      <button id="reqBtn">XHR</button>
      <button id="geoBtn">Geolocation</button>
      <button id="serviceBtn">Service Worker</button>
    </p>
    <!-- <img src="http://localhost:5000/image" alt="cat"> -->
    <script src="/javascripts/req.js"></script>
    <script src="/javascripts/sec-only.js"></script>
  </body>
</html>
