<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>サンプル</h1>
    <p id="result"></p>
    <p>
        <a href="/grammer">grammer</a>
      <a href="/indexeddb">indexeddb</a>
      <a href="/indexeddb2">indexeddb2</a>
      <a href="/sec">security</a>
    </p>
  </body>
</html>
