<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>copit</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script src="javascripts/IndexedDB2.js"></script>
</head>
<body>
    <h1>Indexed Databaseサンプル2</h1>
    <video id="video" src="movies/copit.mov" width="480" controls muted>
    </video>
</body>
</html>